<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>bot</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/zsh</string>
      <string>-lc</string>
      <string>uv run bot</string>
    </array>
    <key>KeepAlive</key>
    <true />
    <key>RunAtLoad</key>
    <true />
    <key>UserName</key>
    <string>narumi</string>
    <key>WorkingDirectory</key>
    <string>/Users/narumi/apps/bot</string>
    <key>StandardOutPath</key>
    <string>/Users/narumi/.log/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/narumi/.log/bot.log</string>
  </dict>
</plist>
